//--------------------------------------------------------------
// Global Resets/Overrides
//--------------------------------------------------------------
*,
::after,
::before {
	@apply box-border break-words;

	word-wrap: break-word;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	@apply body overflow-x-hidden;
}

p {
	@apply mb-32;
}

a {
	@apply text-primary;
}

ol,
ul {
	@apply mb-32;
}

ol ol,
ol ul,
ul ul,
ul ol {
	@apply ml-16 mb-0;
}

ol {
	@apply list-decimal;
}

pre {
	@apply overflow-auto;
}

//-----------------------------------------
// Admin Overrides
//-----------------------------------------
.block-editor-writing-flow {
	@apply body;
}

//-----------------------------------------
// Theme Elements
//-----------------------------------------
.container {
	@apply px-24;
}

.site-main {
	@apply my-24;
}

table,
dl,
ol,
ul,
address,
pre,
blockquote,
iframe {
	@apply mb-16;
}
